body{
  background-image: url("../img/bg-100g.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.container1{
  width: 100%;
  height: 100%;
  display: none;
}
.container{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: 2;
}
.fullscreen{  
  position: absolute;
  bottom: 40px;
  right: 60px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 20;
}
.logo-100{
  width: 400px;
  height: auto;
}
color{
  color:#ffc92c;
}
.preguntas p,
.pts{
  color:#ffc92c;
}


.preguntas,
.pts{
  background-color: black;
  padding: 30px 50px;
  border-radius: 30px;
  border: 15px solid #d60673;
}
.preguntas{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.pts{
  width: 100px;
  padding: 20px 40px;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.pts{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pts.t-acum{
  position: absolute;
  top:calc(50% - 250px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pts.t-rojo{
  position: absolute;
  top: 45%;
  left: calc(50% - 400px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pts.t-azul{
  position: absolute;
  top: 45%;
  left: calc(50% + 400px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logos{
}
.logo{

}
.logo.izq{
  position: absolute;
  top: 40px;
  left: 60px;
  height: 80px;
}
.logo.der{
  position: absolute;
  top: 40px;
  right: 60px;
  height: 90px;
}
#full1{
  display: block;
  position:relative;
  width: 40px;
  height: 40px;
  background-color: #140064;
  color: #fff;
  border-radius: 15px;
  border: 0px none;
  font-size: 20px;
}
#full2{
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
  background-color: #140064;
  color: #fff;
  border-radius: 15px;
  border: 0px none;
  font-size: 20px;
}
.error{
  color: red;
  width: 100%;
  font-size: 100px;
  text-align: center;
}
.error > i{
  margin: 15px 20px;
}
.error > i{
  display: none;
}
.error.uno > i:nth-child(1){
  display: inline-block;
}
.error.dos > i:nth-child(2){
  display: inline-block;
}
.error.tres > i:nth-child(3){
  display: inline-block;
}






div.preguntas > div.pregunta{
  display: none;
}
div.preguntas > div.pregunta:nth-child(1){
  display: block;
}
div.preguntas > div.pregunta:nth-child(1) img {
    width: 320px;
    padding: 20px;
    display: block;
    margin: 0px auto;
}



.respuesta {
  width: 100%;
}
p.pregunta {
  font-size: 18px;
}
.respuesta span:nth-child(1) {
  display: none;
}
.respuesta span {
  padding: 4 15px;
  font-size: 20px;
}

.respuesta button{
  color: #ffc92c;
  font-size: 20px;
  background: none;
  border: 0px none;
  padding: 4 15px;
  cursor: pointer;
}
.botones{
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
.botones button{
  color: #fff;
  font-size: 20px;
  background: none;
  border: 0px none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.botones button{
  background-color: #140064;
  color: #fff;
  font-size: 20px;
  border: 0px none;
  padding: 0px;
  cursor: pointer;
  border-radius:15px;
  width: 40px;
  height: 40px;
  margin: 0px 15px;
}
.botones button:hover{
  color: #140064;
  background: #fff;
}




.col-2{
  width: 100%;
}
.col-2 > .izq,
.col-2 > .der{
  width: 50%;
  float: left;
  display: inline-block;
}
.col-2 input{
  display: inline-block;
  float: left;
  margin:10px 0px;
  padding: 6 10px;
  border: 0px none;
  font-size: 16px;
  color:#ffc92c;
  background: none;
  
}
.col-2 input:focus{
	outline:0px;
}
.col-2 input:nth-child(1){
  width: calc(100% - 50px);
  text-align: left;
}
.col-2 input:nth-child(2){
  width: 30px;
  text-align: right;
}
::-webkit-input-placeholder { /* Edge */
  color: #ffc92c;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffc92c;
}

::placeholder {
  color: #ffc92c;
}
.fase2{
  padding-top: 80px;
}